.contacts {
    @media (max-width: $ds) {
        max-width: 160px;
    }

    @media (max-width: $tb) {
        min-width: 83px;
        margin-right: -39px;
    }

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "PT Mono";
    flex-wrap: wrap;

    a {
        color: $white;
        cursor: pointer;
        margin-right: 19px;
        margin-left: 3px;
        display: flex;
        justify-content: flex-start;
        transition: 0.3s ease-in-out;
        text-decoration: none;
        align-items: flex-start;
        margin-bottom: 10px;

        @media (max-width: $ds) {
            width: 15px;
        }

        svg {
            fill: $basicBlue;
        }

        &:hover {
            svg {
                fill: $white;
                transition: 0.3s ease-in-out;
            }

            p {
                color: $basicBlue;
                transition: 0.3s ease-in-out;
            }
        }

        &:focus {
            border: 1px solid $basicBlue;
        }

        &:visited {
            opacity: 0.8;
        }
    }

    .phone {
        margin-right: 5px;
    }
}

.email {
    margin-right: -6px;

    @media (max-width: $ds) {
        width: 50px;
    }

    &__image-wrapper {
        margin-right: 2rem;

        svg {
            @media (max-width: $ds) {
                margin-top: -3px;
                height: 25px;
                width: 27px;
                margin-left: 33px;
            }

            @media (max-width: $tb) {
                margin-left: 7px;
            }
        }
    }

    p {
        margin: 0;

        @media (max-width: $ds) {
            display: none;
        }
    }
}

.phone {
    margin-left: 36px;

    @media (max-width: $tb) {
        margin-left: 0;
    }

    &__image-wrapper {
        margin-right: 5px;

        svg {
            @media (max-width: $ds) {
                width: 35px;
                height: 35px;
                margin-left: 12px;
                margin-top: -7px;
            }

            @media (max-width: $tb) {
                margin-left: 13px;
            }
        }
    }

    p {
        margin: 0;

        @media (max-width: $ds) {
            display: none;
        }
    }
}
