.logo {
        display: flex;
        align-items: center;
        cursor: default;

        &__text {
                margin-left: 1.6rem;

                &-title {
                        margin-bottom: -1rem;

                        p {
                                margin-top: 16px;
                                letter-spacing: -1.5px;
                                margin-left: 2px;
                                margin-bottom: -3px;
                        }
                }
        }

        svg {
                fill: $basicBlue;
        }
}
