.social-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 70%;
    min-width: 60%;

    @media (max-width: $ds) {
        margin-top: -90px;
        min-width: min-content;
    }

    @media (max-width: $tb) {
        margin: 0 auto;
        margin-top: -101px;
    }

    a {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }

        svg {
            fill: $basicGray6;
            transition: 0.3s ease-in-out;
        }

        &:hover svg {
            fill: $basicBlue;
            transition: 0.3s ease-in-out;
        }
    }
}
