//breakpoints

$sm: 320px;
$tb: 768px;
$ds: 1024px;

// colors

$white: white;
$black: black;

$basicBlue: #00B2FF;
$basicGray: #666666;
$basicGray1: #626962;
$basicGray2: #1B2D37;
$basicGray3: #788891;
$basicGray4: #203C42;
$basicGray5: #EBEBEB;
