//breakpoints

$sm: 300px;
$tb: 767px;
$ds: 1170px;

// colors

$white: white;
$black: black;
$blackLight: rgba(0,0,0,0.5);
$red: red;

$basicGreen: lightgreen;

$basicBlueSky: #19baff;
$basicBlue: #00b2ff;
$basicGray: #666666;
$basicGray1: rgba(38%, 41%, 38%, 0.2);
$basicGray2: #1b2d37;
$basicGray3: #788891;
$basicGray4: #203c42;
$basicGray5: #ebebeb;
$basicGray6: #cdcdcd;
$basicGray8: #c4c4c4;

// #1B2D37
$basicGray7: rgba(27, 45, 55, 0.5);
