.footer {
        &__wrapper {
                padding: 70px 0;

                .logo {
                        margin-bottom: 53px;
                }

                .logo__text-title {
                        color: $basicGray4;
                }
        }

        &__nav-page {

        }

        &__nav {

                h3 {
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: $basicGray2;
                        font-family: 'RobotoCondensed';
                        text-transform: uppercase;
                }

        }

        &__nav-list {
                list-style-type: none;

                a {
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: $basicGray2;
                        font-family: 'PT Mono';
                        text-decoration: none;
                }
        }
}

.footer__nav .footer__nav--nojs {

}

.footer__nav .footer__nav--opened {

}

.footer__nav .footer__nav--closed {
        .footer__nav-list {
                display: none;
        }
}
