.header {
    background-color: $basicGray2;
    min-height: 478px;
    background-image: url("../../img/content/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 110px;
    margin-bottom: 50px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 120px;
        margin-bottom: 100px;

        @media (max-width: $ds) {
            margin-bottom: 69px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        min-width: 665px;
        justify-content: flex-start;

        @media (max-width: $ds) {
            min-width: 86px;
            margin-top: -24px;
            margin-right: -19px;
        }

        div {
            margin-left: 66px;

            &:first-of-type {
                margin-left: 0;

                @media (max-width: $ds) {
                    margin-left: 29px;
                }
            }

            &:last-of-type {
                margin-left: 31px;

                @media (max-width: $ds) {
                    margin-left: 15px;
                    width: 40px;
                }
            }
        }

        .btn-call button {
            padding: 13px 28px;
            margin-right: 5px;
            letter-spacing: 0.5px;

            @media (max-width: $ds) {
                display: none;
            }
        }
    }

    &__main {
        display: flex;

        .btn-call button {
            background-color: $basicBlue;
            transition: 0.3s ease-in-out;
            margin-left: 4rem;
            border: 1px solid transparent;
            margin-left: 97px;
            padding: 19px 45px;
            letter-spacing: 1.9px;

            &:hover {
                color: $basicBlue;
                background-color: $white;
                transition: 0.3s ease-in-out;
            }
        }
    }

    &__main-text {
        @media (max-width: $ds) {
            margin-left: 68px;
        }

        h1 {
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            font-size: 7.8rem;
            margin-top: 97px;
            letter-spacing: 0.2px;
            margin-left: -1.5px;
            margin-bottom: 34px;

            @media (max-width: $ds) {
                font-size: 6rem;
                margin-top: 0;
                letter-spacing: -1px;
            }

            @media (max-width: $tb) {
                font-size: 4rem;
            }
        }

        p {
            font-size: 2.2rem;
            font-weight: 400;
            color: $white;
            font-family: "PT Mono";
            position: relative;
            margin-left: 96px;
            line-height: 1.4;
            margin-bottom: 45px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                background-color: $white;
                width: 66px;
                height: 2px;
                left: -93px;
                top: 12px;
            }

            @media (max-width: $ds) {
                font-size: 1.8rem;
            }

            @media (max-width: $tb) {
                font-size: 1.6rem;
            }
        }
    }

    &__main-image {
        min-width: 705px;

        @media (max-width: $ds) {
            position: absolute;
            left: 89px;
        }

        .cards {
            width: 705px;
            height: 515px;
            margin-left: 20px;
            margin-top: 38px;

            @media (min-width: 1620px) {
                margin-left: 70px;
            }
        }
    }

    &__main-imageWrapper {
        @media (max-width: $ds) {
            width: 600px;
            overflow: hidden;
            position: relative;
        }
    }
}
