.header {
        background-color: $basicGray2;
        min-height: 478px;

        &__wrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 120px;
        }

        &__inner {
                display: flex;
                align-items: center;
        }

}
