.main-form {
    background-color: $basicBlue;
    background-image: image-set('../img/content/form-bg.png' 1x, '../img/content/form-bg@2x.png' 2x);
    background-position: 100% 39px;
    background-size: contain;
    background-repeat: no-repeat;

    &__wrapper {
        padding-top: 22px;
        padding-bottom: 111px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $ds) {
            justify-content: center;
            padding-bottom: 100px;
        }

        @media (max-width: $tb) {
            padding-top: 0;
            padding-bottom: 40px;
        }
    }

    &__form {
        min-width: 45%;
        margin-top: 44px;

        @media (max-width: $ds) {
            margin: 0 auto;
            max-width: 599px;
            padding-left: 6px;
            padding-top: 11px;
        }

        h2 {
            font-size: 3.6rem;
            font-weight: 400;
            color: $white;
            font-family: "RobotoCondensed";
            margin-bottom: 17px;

            @media (max-width: $ds) {
                font-size: 3.2rem;
                margin-top: 51px;
                margin-bottom: 22px;
            }

            @media (max-width: $tb) {
                font-size: 2.8rem;
                margin-top: 22px;
                line-height: 1.3;
                margin-bottom: 18px;
            }
        }

        p {
            margin-bottom: 50px;

            @media (max-width: $ds) {
                margin-bottom: 56px;
            }

            @media (max-width: $tb) {
                margin-bottom: 29px;
            }
        }

        p,
        input,
        textarea,
        span {
            font-size: 1.6rem;
            font-weight: 400;
            font-family: "PT Mono";
            color: $white;
        }

        input,
        textarea {
            outline: none;

            &:hover {
                border: 1px solid $white;
            }

            &:focus {
                border: 1px solid $white;
            }

            &:active {
                border: 1px solid $white;
            }

            &::placeholder {
                color: $white;
            }
        }

        form {
            display: grid;
            padding-right: 17px;

            @media (max-width: $ds) {
                padding-right: 0;
            }

            @media (max-width: $tb) {
                padding-right: 5px;
            }

            input {
                min-width: 47%;
            }

            textarea {
                background-color: $basicBlueSky;
                border: 1px solid transparent;
                margin-bottom: 46px;
                padding: 16px 14px;
                padding-bottom: 6px;
                padding-top: 12px;
                resize: none;

                @media (max-width: $ds) {
                    padding-bottom: 18px;
                }

                @media (max-width: $tb) {
                    max-height: 102px;
                    margin-bottom: 31px;
                }
            }

            button {
                background-color: transparent;
                transition: 0.3s ease-in-out;
                color: $white;
                padding: 14px 10px;
                min-width: 270px;
                border: 1px solid $white;
                border-radius: 5px;
                font-size: 1.4rem;
                letter-spacing: 1px;
                font-weight: 700;
                font-family: "RobotoCondensed";
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;

                @media (max-width: $ds) {
                    min-width: 282px;
                }

                @media (max-width: $tb) {
                    margin-bottom: 28px;
                }

                &:hover {
                    color: $basicBlue;
                    background-color: $white;
                    border: 1px solid $basicBlue;
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }

    &__image-wrapper {
        margin-left: -7px;
        margin-top: 32px;
        position: relative;
        min-width: 52%;
        display: block;

        @media (max-width: $ds) {
            display: none;

            img {
                z-index: 5;
                position: relative;
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 730px;
            height: 638px;
            background-image: image-set('../img/content/airplane-bg.png' 1x, '../img/content/airplane-bg@2x.png' 2x);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            top: -219px;
            left: -205px;
        }
    }

    &__name-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        @media (max-width: $tb) {
            display: grid;
            justify-content: stretch;
            gap: 30px;
            margin-bottom: 32px;
        }

        input {
            background-color: $basicBlueSky;
            border: 1px solid transparent;
            padding: 16px 14px;
        }
    }

    &__accept-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $tb) {
            display: grid;
            justify-content: stretch;
        }

        input {
            margin-right: 20px;

            &:not(:checked) + label:before {
                display: block;
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                top: 2px;
                left: -30px;
                border: 1px solid $white;
                background: transparent;
                cursor: pointer;
            }

            &:checked + label:after {
                display: block;
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                top: 2px;
                left: -30px;
                border: 1px solid $white;
                background-image: url("../img/icons/agree-checked.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            &:focus + label::after {
                display: block;
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                top: 2px;
                left: -31px;
                border: 1px solid $black;
            }
        }

        label {
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 68px;
            letter-spacing: -0.9px;
            padding-right: 9px;
            cursor: pointer;

            @media (max-width: $tb) {
                margin-left: 30px;
                letter-spacing: -1.2px;
            }
        }
    }
}

.main-form__accept-wrapper input:not(:checked) {
    .main-form__accept-wrapper label::before {
        display: block;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 2px;
        left: -30px;
        border: 1px solid $white;
        background: transparent;
        cursor: pointer;
    }
}

.main-form__accept-wrapper input:checked {
    .main-form__accept-wrapper label::after {
        display: block;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 2px;
        left: -32px;
        border: 1px solid $white;
        background-image: url("../img/icons/agree-checked.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}
