.products {
    background-color: $basicGray2;
    min-height: 300px;

    &__main-wrapper {
        padding-top: 63px;
        padding-bottom: 125px;
        padding-left: 35px;

        @media (max-width: $ds) {
            padding-top: 27px;
        }

        h2 {
            font-size: 3.6rem;
            font-weight: 400;
            color: $white;
            font-family: "RobotoCondensed";
            margin-bottom: 55px;

            @media (max-width: $ds) {
                font-size: 3.2rem;
                margin-left: -10px;
                max-width: 86%;
                line-height: 1.3;
            }

            @media (max-width: $tb) {
                font-size: 2.8rem;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-width: 100%;

        @media (max-width: $ds) {
            flex-wrap: wrap;
        }

    }

    &__block {
        position: relative;
        border: 1px solid transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: $basicGray2;
        width: 371px;
        height: 625px;

        &:hover {
            outline: 1px solid $basicBlue;
        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            background-color: $basicBlue;
            background-image: url("../../img/icons/arrow-more.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 8px;
            bottom: 1px;
            right: 1px;
            width: 63px;
            height: 63px;
            z-index: 2;
        }

        h3 {
            position: absolute;
            font-size: 2rem;
            font-weight: 400;
            color: $white;
            font-family: "RobotoCondensed";
            z-index: 4;
            margin-left: 41px;
            margin-top: 53px;
            max-width: 44%;
            line-height: 1.4;
        }
    }

    a {
        margin-left: 29px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}


.block-1 {
    background-image: url('../img/content/product1.png');
}

.block-2 {
    background-image: url('../img/content/product2.png');
}

.block-3 {
    background-image: url('../img/content/product3.png');
}
