.products {
    background-color: $basicGray2;
    min-height: 300px;

    &__main-wrapper {
        padding-top: 63px;
        padding-bottom: 125px;
        padding-left: 35px;

        h2 {
            font-size: 3.6rem;
            font-weight: 400;
            color: $white;
            font-family: "RobotoCondensed";
            margin-bottom: 55px;

            @media (max-width: $ds) {
                font-size: 3.2rem;
            }

            @media (max-width: $tb) {
                font-size: 2.8rem;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__block {
        position: relative;
        min-width: 100%;
        transition: 0.3s ease;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid $white;
            transition: 0.3s ease;
        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            background-color: $basicBlue;
            background-image: url("../../img/icons/arrow-more.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 8px;
            bottom: 1px;
            right: 1px;
            width: 63px;
            height: 63px;
            z-index: 2;
        }

        h3 {
            position: absolute;
            font-size: 2rem;
            font-weight: 400;
            color: $white;
            font-family: "RobotoCondensed";
            z-index: 4;
            margin-left: 41px;
            margin-top: 53px;
            padding-right: 160px;
            line-height: 1.4;
        }
    }

    a {
        margin-left: 28px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}
